mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 220px;
  padding: 8px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 24px;
}
